html,
body,
#root,
.layout {
  height: 100%;
  width: 100%;
}

.layout {
  .header {
    color: red;
    background-color: #fff;
  }

  .sub-layout {
    height: 100%;

    .left-sidebar {
      color: red;
      background-color: pink;
    }

    .right-sidebar {
      color: red;
      background-color: gold;
    }
  }

  .footer {
    background-color: lightgrey;
  }
}

.gdc-footer {
  width: 100%;
  height: 100%;
  text-align: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
